<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Servicios", "MenuPrincipal", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li>@Html.ActionLink("Registrar Cliente","registro", "Home")  </li>
                    <li>@Html.ActionLink("Cambio de Estrato", "cambioEstrato", "Home")</li>
                    <li>@Html.ActionLink("Actualizar Meta Ahorro de Energia", "actualizarMetaAhorroEnergia", "Home")</li>
                    <li>@Html.ActionLink("Actualizar Consumo Actual de Energia", "actualizarConsumoActualEnergia", "Home")</li>
                    <li>@Html.ActionLink("Actualizar Promedio de Consumo de Agua", "actualizarPromedioConsumoAgua", "Home")</li>
                    <li>@Html.ActionLink("Actualizar Consumo Actual de Agua", "actualizarConsumoActualAgua", "Home")</li>
                    <li>@Html.ActionLink("Actualizar Consumo del Gas","actualizarConsumoGas","Home") </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
